<%- include('../partials/admin/header') -%>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form action="/admin/createcategory" method="post">
                            <div class="mb-4">
                                <label for="categoryName" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name"
                                    id="category_name" />
                            </div>
                            <!-- <div class="mb-4">
                            <label for="product_slug" class="form-label">Slug</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_slug" />
                        </div> -->
                            <!-- <div class="mb-4">
                            <label class="form-label">Parent</label>
                            <select class="form-select">
                                <option>Clothes</option>
                                <option>T-Shirts</option>
                            </select>
                        </div> -->
                            <!-- <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control"></textarea>
                            </div> -->
                            <div class="d-grid">
                                <button class="btn btn-primary" id="submit">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th> -->
                                        <th>No</th>
                                        <th>Name</th>
                                        <!-- <th>Description</th> -->
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% categories.map((items,index)=>{ %>
                                        <tr>
                                            <!-- <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td> -->
                                            <td>
                                                <%=index+1 %>
                                            </td>
                                            <td><b>
                                                    <%=items.categoryName %>
                                                </b>
                                            </td>
                                            <!-- <td>
                                                <%=items.discription %>
                                            </td> -->
                                            <td>
                                                <% if(items.status===true){ %>
                                                    
                                                    <button style="color: #0a5b19; border: none; background-color: rgb(189, 239, 189); border-radius: 10px;" onclick="handleStatus('<%= items._id %>',false)" >Active</button>
                                                    <% } else {%>
                                                        <button style="color: #5b1a0a; border: none; background-color: rgb(239, 204, 189); border-radius: 10px;" onclick="handleStatus('<%= items._id %>',true)" >Unlist</button>
                                                        <% } %>
                                            </td>

                                            <td class="text-danger" style="cursor: pointer;" onclick="deleteCategory('<%= items._id %>')" >
                                                Delete
                                            </td>
                                        </tr>
                                        <% }) %>



                                </tbody>
                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

    <%- include('../partials/admin/footer') -%>


        <script>
            $('#submit').click((event) => {
                $('#myform').submit()
                // event.preventDefault()
            })

            async function handleStatus(id,value){
               $.ajax({
                method:"patch",
                url:"/admin/categoryStatus",
                data:{
                    id,
                    value
                },
                success:async(response)=>{
                    window.location.reload()
                }
               })
            }

            async function deleteCategory(id){
                $.ajax({
                    method:"delete",
                    url:"/admin/categorydeletion",
                    data:{
                        id
                    },
                    success:async(response)=>{
                    window.location.reload()
                    }
                })
            }
        </script>