<%- include('../partials/admin/header') -%>

<section class="content-main" >
    <div class="content-header">
        <h2 class="content-title">User list</h2>
    </div>
    <div class="card mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>phone</th>
                            <th>Date</th>
                            <th class="text-end"> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                     <% data.forEach((items,index)=>{ %>
                        <tr>
                            <td> <p><%=index+1 %></p></td>
                            <td>
                                <a href="#" class="itemside">
                                    <div class="info pl-0">
                                       
                                        <h6 class="mb-0 title "><%=items.name %></h6>
                                        <!-- <small class="text-muted">Seller ID: #439</small> -->
                                    </div>
                                </a>
                            </td>
                            <td><%=items.email %></td>
                            <td><%=items.phone %></td>
                            <td>22.07.2023</td>
                            <td class="text-end">
                                <% if(items.isBlocked === 0){%>
                                <p   onclick="handleUserAction('<%= items._id %>',1)" class="btn btn-sm btn-brand rounded font-sm mt-15" style="background-color: red;" id="btnAction">Block</p>
                                <% }else { %>
                                    
                                    <p onclick="handleUserAction('<%= items._id %>',0)"   class="btn btn-sm btn-brand rounded font-sm mt-15"  style="background-color: green;" >Unblock</p>
                                    <% }%>
                            </td>
                        </tr>
                      <% }); %>
                      
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div> -->
</section> <!-- content-main end// -->



<script>
    function handleUserAction(id,value){
        $.ajax({
            url:`/admin/userAction`,
            data:{
             userId:id,
             isValue:value
            },
            method:"patch",
            success:async(response)=>{
                 window.location.reload()
            }
        })
    }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%- include('../partials/admin/footer') -%>


