<%-include('../partials/header')-%>


        <main class="main">
          
                    <div class="intro-slide"  style="background-image: url(assets/images/demos/demo-8/slider/home.jpg);">
                        <div class="">
                            <!-- <img class=" position-center" src="assets/images/demos/demo-8/slider/home.jpg"> -->

                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                <!-- </div>End .intro-slider owl-carousel owl-simple -->

                <!-- <span class="slider-loader"></span>End .slider-loader -->
            <!-- </div>End .intro-slider-container -->

     

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="container recent-arrivals">
                
                <div class="heading heading-flex align-items-center mb-3">
                    <h2 class="title title-lg">New Arrivals</h2>
                    <!-- <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="recent-all-link" data-toggle="tab" href="#recent-all-tab" role="tab" aria-controls="recent-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="recent-women-link" data-toggle="tab" href="#recent-women-tab" role="tab" aria-controls="recent-women-tab" aria-selected="false">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="recent-men-link" data-toggle="tab" href="#recent-men-tab" role="tab" aria-controls="recent-men-tab" aria-selected="false">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="recent-shoes-link" data-toggle="tab" href="#recent-shoes-tab" role="tab" aria-controls="recent-shoes-tab" aria-selected="false">Shoes & Boots</a>
                        </li>
                    </ul> -->
                </div>

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="recent-all-tab" role="tabpanel" aria-labelledby="recent-all-link">
                        <div class="products">
                            <div class="row justify-content-center">
                               
                                    <%if(products){%>

                                        <% const latestProducts = products.slice(-4).reverse(); %>
                                        <% latestProducts.map((product) => { %>

                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="product product-2 text-center">
                                        <figure class="product-media">
                                            <%if(product.productquantity == 0) {%>
                                                 <span class="product-label label-out">Out of Stock</span>
                                                 <%}%>
                                            <a href="/productView?id=<%=product._id%>">
                                                <img src="/uploads/<%=product.productimages[0] %>" alt="Product image" class="product-image">
                                                <img src="/uploads/<%=product.productimages[1] %>" alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="/addToCart?id=<%=product._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= product.productcategory %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href=""><%= product.productname %></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $14.99
                                            </div><!-- End .product-price -->

                                            <!-- <div class="product-nav product-nav-thumbs">
                                                <a href="#" class="active">
                                                    <img src="assets/images/demos/demo-8/products/product-7-thumb.jpg" alt="product desc">
                                                </a>
                                                <a href="#">
                                                    <img src="assets/images/demos/demo-8/products/product-7-2-thumb.jpg" alt="product desc">
                                                </a>
                                            </div>End .product-nav -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                <% }) %>
                              
                                <%}else{%>

                                    <p>nothing</p>
                                    <%}%>

                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                   
                   
                    
                </div><!-- End .tab-content -->

                <div class="more-container text-center mt-3 mb-3">
                    <!-- <a href="category.html" class="btn btn-outline-dark-3 btn-more"><span>View More</span><i class="icon-long-arrow-right"></i></a> -->
                </div><!-- End .more-container -->
            </div><!-- End .container -->

           
           
        </main><!-- End .main -->

        <%-include('../partials/footer')-%>
