<%-include('../partials/header')-%>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span> </span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tab-dashboard-link" href="/profile" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-orders-link" href="/orders" role="tab" aria-controls="tab-orders" aria-selected="true">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" href="/wallet" role="tab" aria-controls="tab-orders" aria-selected="false">wallet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" href="/addresses" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" href="/editProfile" role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" href="/changePassword" role="tab" aria-controls="tab-account" aria-selected="false">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <% if (orders)  { %>
                                    <table class="table table-wishlist table-mobile" style="width: 800px;">											
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th></th>
                                                <th>Price</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <% orders.reverse().forEach(function(order) { %>
                                            <% order.products.forEach(function(product) { %>
                                        <tbody>		
                                            <tr>
                                                <td class="product-col" style="display: flex; align-items: center; justify-content: center;">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="/productView?id=<%=product.productid%>">
                                                                                                                                
                                                                <% if (product.productid.productimages ) { %>
                                                                    <img src="uploads/<%=product.productid.productimages[0] %>" class="product-image" alt="It" width="50px" />
                                                                <% } else { %>
                                                                    <img src="upload/img.webp" alt="Default Image" class="product-image" />
                                                                <% } %>                                                                    
                                                        </figure>    
                                                        
                                                    </div>
                                                </td>
                                                <td class="price-col" >  <h3 class="product-title" style="margin-left: 5px;">
                                                    <a href="/orderDetails?id=<%=order._id%>"><%=product.productid.productname %></a>
                                                </h3></td>
                                                <td class="price-col">₹<%=product.productPrice %>.00</td>
                                                <td class="stock-col"><%=new Date(order.orderDate).toLocaleDateString()%></td>
                                                <td class="price-col">
                                                    <% if (product.status == "Delivered" || product.status == "Completed") { %>
                                                        <span class="badge rounded-pill bg-success">Delivered</span>
                                                    <% } else if (product.status == "Pending") { %>
                                                        <span class="badge rounded-pill bg-warning"><%=product.status%></span>
                                                    <% } else if (product.status == "Return Requested" || product.status == "Cancelled" || product.status == "Returned") { %>
                                                        <span class="badge rounded-pill bg-danger"><%=product.status%></span>
                                                    <%} else { %>
                                                        <span class="badge rounded-pill bg-info"><%=product.status%></span>
                                                    <%}%>

                                                       
                                                </td> 
                                                
                                                <td class="action-col">
                                                    <% if(product.status == "Delivered"){ %>
                                                        <a href="#" class="returnorder" data-id="<%=order._id%>" && data-proid="<%=product._id %>"><button class="btn btn-outline-warning return">RETURN</button></a>
                                                    <% } else if(product.status == "Completed") { %>
                                                        <button class="btn btn-info return" disabled>ORDER COMPLETED</button>
                                                    <% } else if (product.status == "Cancelled") { %>
                                                        <button class="btn btn-info return" disabled>CANCELLED</button>
                                                    <% } else if (product.status == "Return Requested") { %>
                                                        <button class="btn btn-warning return" disabled>WAITING</button>
                                                    <% } else if (product.status == "Shipped") { %>
                                                        <button class="btn btn-info return" disabled>CANCEL</button>
                                                    <% } else if (product.status == "Returned") { %>
                                                        <button class="btn btn-info return" disabled>RETURNED</button>
                                                    <% }  else { %>
                                                        <a href="#" id="cancelorder" data-id="<%=order._id%>" && data-proid="<%=product._id %>"><button class="btn btn-outline-danger cancel">CANCEL</button></a>
                                                    <% } %>
                                                </td>

                                            </tr>													
                                        </tbody>
                                        <% }); %>
                                        <% }); %>                                            
                                    </table>                                        
                                <% }  else { %>
                                    <p>No order has been made yet.</p>
                                    <a href="/" class="btn btn-outline-primary-2">
                                        <span>GO SHOP</span><i class="icon-long-arrow-right"></i>
                                    </a>
                                <%}%>
                            </div><!-- .End .tab-pane -->                                
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<%-include('../partials/footer')-%>


<script>
    $(document).ready(function(){
        $("#cancelorder").click(function (){
            console.log('clicked');
            var orderid = $(this).data("id");
            var proid = $(this).data("proid");
            var data = {
                id: orderid,
                proid:proid
            };
            Swal.fire({
                title: "Are you sure?",
                text: "This action cannot undone!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result)=>{ 
                if(result.isConfirmed){
                    $.ajax({
                        url: "/cancelorder",
                        method: "POST",
                        data: data,
                        success: function(response) {
                            if(response.message == "1"){
                                Swal.fire({
                                    title: "Success",
                                    text: "Order Cancelled",
                                    icon: "success",
                                    confirmButtonText: "OK"
                                }).then((result)=>{
                                    if(result.isConfirmed){
                                        window.location.href ="/orders"; // Redirect to another page
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: "Something went worng",
                                    icon: "error",
                                    confirmButtonText: "OK"
                                });
                            }
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function(){
        $(".returnorder").click(function (){
            console.log('clicked');
            var orderid = $(this).data("id");
            var productid=$(this).data("proid")
            var data = {
                id: orderid,
                proid:productid
                
            };
            console.log(data);
            Swal.fire({
                title: "Are you sure?",
                text: "This action cannot undone!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result)=>{
                console.log(result);
                if(result.isConfirmed){
                    $.ajax({
                        url: "/returnorder",
                        method: "POST",
                        data: data,
                        success: function(response) {
                            if(response.message == "1"){
                                Swal.fire({
                                    title: "Success",
                                    text: "Return Requested",
                                    icon: "success",
                                    confirmButtonText: "OK"
                                }).then((result)=>{
                                    if(result.isConfirmed){
                                        window.location.href ="/orders"; // Redirect to another page
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: "Something went worng",
                                    icon: "error",
                                    confirmButtonText: "OK"
                                });
                            }
                        }
                    });
                }
            });
        });
    });
</script>
